.first-container-day{
    background-image: url("../images/mobile/bg-image-daytime.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.first-container-day:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .3;
    top: 0;
    left: 0;
    background-color: black;
}